.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}
button {
  width: 90px;
  height: 40px;
  text-align: center;
  margin: auto;
}
#display {
  font-size: 40px;
  text-align: center;
}
body {
  zoom: 400%;
}
