div.center, body.center
{
	text-align: center
}

div.isCenter
{
	margin: 0 auto;
}

div.specialDisplay
{
	display: inline-block;
	overflow: hidden;
}

div.border
{
	border: 1px solid black;
}

.fullwidth
{
	width: 99%;
}

h1
{
	color: orange;
	text-decoration: underline;
}

div.red
{
	color: red;
}

div.textLeft
{
	text-align: left;
}
