---
---
<!--
  ____  _            _  __          __        _     _ 
 |  _ \| |          | | \ \        / /       | |   | |
 | |_) | | ___   ___| | _\ \  /\  / /__  _ __| | __| |
 |  _ <| |/ _ \ / __| |/ /\ \/  \/ / _ \| '__| |/ _` |
 | |_) | | (_) | (__|   <  \  /\  / (_) | |  | | (_| |
 |____/|_|\___/ \___|_|\_\  \/  \/ \___/|_|  |_|\__,_|
-->
<!--YAML front matter, because why not. Sadly, I can't put the comment before, because then it wouldn't be front matter.
It'd be Line 2 matter.-->
<!--Initializes HTML.-->
<!DOCTYPE html>
  <html>
    <head>
      <style>
        .a {
          background-image:url('http://assets-cloud.enjin.com/users/7988261/pics/original/3456791.jpg'); /*Adds my face*/
          background-repeat: no-repeat; /*Makes it not repeat*/
          background-size: cover;
          width: 40vw; /*Sets it to 40% of the viewport*/
          height: 40vw;
          position: relative;
          text-align: center; /*Aligns to the center*/
        }
        .a .b {
          color: #fff;
          font-family: sans-serif; /*Makes it sans-serif*/
          font-weight: bold; /*Makes it bold*/
        }
        .a p {
          color: #fff; /*Makes it white*/
          font-family: sans-serif; /*Makes it sans-serif*/
        }
        .sans {
          font-family: sans-serif; /*Makes it sans-serif*/
        }
        .header {
          background-color: rgba(255, 255, 255, 0.95);
          font-family: sans-serif;
          font-weight: 300;
          font-size: 17px;
          padding: 15px;
        }
        .dropdown-menu {
          font-size: 16px;
          margin-top: 5px;
        }
        .dropdown-menu li a {
          color: #898989; /*Makes the dropdown menu not plain white.*/
          padding: 6px 20px; /*Adds padding.*/
          font-weight: 300;
        }
        .blockworld {
          text-decoration: bold;
          color: #333333;
        }
        p {
          font-size: 2vw;
        }
      </style>
      <script src="ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <!--Makes websites able to find my feed.-->
      {% feed_meta %}
      <!--Makes the page title "BlockWorld."-->
      <title>BlockWorld</title>
      <!--Adds favicons.-->
      <link rel="shortcut icon" href="http://assets-cloud.enjin.com/users/7988261/pics/original/3424699.jpg">
      <link rel="apple-itouch-icon" href="http://assets-cloud.enjin.com/users/7988261/pics/original/3424701.jpg">
      <meta name="msapplication-square310x310logo" content="http://assets-cloud.enjin.com/users/7988261/pics/original/3457027.jpg">
      <meta name="msapplication-square70x70logo" content="http://assets-cloud.enjin.com/users/7988261/pics/original/3457028.jpg">
      <meta name="msapplication-square150x150logo" content="http://assets-cloud.enjin.com/users/7988261/pics/original/3457029.jpg">
      <meta name="msapplication-square310x150logo" content="http://assets-cloud.enjin.com/users/7988261/pics/original/3457040.jpg">
      <!--Adds in my CSS and JQuery's CSS.-->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <!--Adds Bootstrap.-->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="manifest" href="/manifest.json">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="main.css">
      <!-- Chrome, Firefox OS and Opera -->
      <meta name="theme-color" content="#4285f4">
      <!-- Windows Phone -->
      <meta name="msapplication-navbutton-color" content="#4285f4">
      <!-- iOS Safari -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <script>
        var loadTime = document.createElement('div');
        loadTime.textContent = 'You loaded this page on: ' + new Date();
        loadTime.style.color = 'blue';
        document.body.appendChild(loadTime);
      </script>
      <meta property="og:image" content="http://assets-cloud.enjin.com/users/7988261/pics/original/3508614.jpg"/>
      <meta property="og:image:width" content="1200"/>
      <meta property="og:image:height" content="630"/>
    </head>
    <body>
      <div id="back"></div>
      <div class="container">
        <!--Makes a menu that is... supposed to work.-->
        <div class="header">
          <div class="container">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle">More</a>
              <a href="search">Search</a>
              <ul class="dropdown-menu">
                <li><a href="#friends">Friends</a></li>
              </ul>
            </div>
          </div>
        </div>
        <a href="http://assets-cloud.enjin.com/users/7988261/pics/original/3456791.jpg">
          <div class="container a">
            <p class="sans blockworld b">BlockWorld</p>
            <p class="sans">This is where I'll post about future projects!</p>
          </div>
        </a>
        <!--Please?-->
        <p>Subscribe to me on YouTube:</p>
        <script src="https://apis.google.com/js/platform.js"></script>
        <script>
          function onYtEvent(payload) {
            var logElement = document.getElementById('ytsubscribe-events-log');
            if (payload.eventType == 'subscribe') {
              logElement.innerHTML = 'You will love this channel! :D'
            } else if (payload.eventType == 'unsubscribe') {
              logElement.innerHTML = 'We are sorry you are unsubscribing. :('
            }
            if (window.console) {
              window.console.log('ytsubscribe event: ', payload);
            }
          }
        </script>
        <div class="g-ytsubscribe" data-channelid="UCY2uM2JpVHEuPB38lXrq8zA" data-layout="full" data-count="default" data-onytevent="onYtEvent"></div>
        <div id="ytsubscribe-events-log"></div>
        <br/>
        <p>My friends' YouTube channels are <a href="#friends">at the bottom.</a></p>
        <p>I am an aspiring game developer, but for now, semi-experienced young programmer.</p>
        <h1 class="sans">Images</h1>
        <p class="sans">Here are some images of things I like to do.</p>
        <div class="imgs">
          <a href="http://static.planetminecraft.com/files/resource_media/screenshot/1416/commandblock_lrg.jpg"><img src="http://static.planetminecraft.com/files/resource_media/screenshot/1416/commandblock_lrg.jpg"></a>
          <a href="https://camo.githubusercontent.com/6432dbeff14b0869d3e3a869a71f51bbd52e509d/687474703a2f2f692e696d6775722e636f6d2f306a38466637732e6a7067"><img src="https://camo.githubusercontent.com/6432dbeff14b0869d3e3a869a71f51bbd52e509d/687474703a2f2f692e696d6775722e636f6d2f306a38466637732e6a7067"></a>
          <a href="https://pbs.twimg.com/profile_images/1550541334/eye_reasonably_small_400x400.jpg"><img src="https://pbs.twimg.com/profile_images/1550541334/eye_reasonably_small_400x400.jpg"></a>
          <a href="https://pbs.twimg.com/profile_images/3586601982/bad64a2bcc1fa336e1a76a1c3a63182d_400x400.png"><img src="https://pbs.twimg.com/profile_images/3586601982/bad64a2bcc1fa336e1a76a1c3a63182d_400x400.png"></a>
          <a href="https://upload.wikimedia.org/wikipedia/en/2/22/Kirby_Wii.png"><img src="https://upload.wikimedia.org/wikipedia/en/2/22/Kirby_Wii.png"></a>
        </div>
        <h2 class="sans" id="friends">Friends</h2>
        <p class="sans">Here are some of my friends:</p>
        <h3 class="sans">Kon Kon</h3>
        <div class="sans">
          <a href="http://this-world.xyz">Kon Kon's Website</a><br/>
          <a href="http://doowaw.github.io/">Kon Kon's GitHub Website</a><br/>
          <a href="https://github.com/doowaw">Kon Kon's GitHub</a><br/>
          <a href="https://www.youtube.com/channel/UCAB3S-baHs6Y2eO98C6jHwg">Kon Kon's YouTube Channel</a><br/>
          <a href="https://codecademy.com/huffkonkonpuff">Kon Kon's Codecademy</a><br/>
          <a href="http://onecmd.com/?creator=OSX">Kon Kon's OneCMD</a>
        </div>
        <h3 class="sans">Donald</h3>
        <div class="sans">
          <a href="https://www.youtube.com/channel/UCi1AS4FkVerYG5yJhhZxvng">Donald's YouTube Channel</a><br/>
          <a href="https://www.youtube.com/channel/UCYnarpLU3s9c2fD-T0HcxZA">Donald's Other YouTube Channel</a>
        </div>
        <h3 class="sans">Gatlen</h3>
        <div class="sans">
          <a href="https://www.youtube.com/channel/UCJYeFTaRjNoj78IcWecOZig">Gatlen's YouTube Channel</a>
        </div>
        <h3 class="sans">Owen</h3>
        <div class="sans">
          <a href="https://www.youtube.com/channel/UCWN2TmCc9nN9xJH4kYWBQxw">Owen's YouTube Channel</a><br/>
          <a href="https://www.youtube.com/channel/UC5Z9v_iHZUopqqYLj-gRL4Q">Owen's Other YouTube Channel</a>
        </div>
        <h3 class="sans">Joseph</h3>
        <div class="sans">
          <a href="https://www.youtube.com/user/ThePoptag">Joseph's YouTube Channel</a>
        </div>
        <h3 class="sans">Links</h3>
        <p>Check out my other website for Koding projects, <a href="http://blockworld.koding.io">click here!</a></p>
        <p>Test sandboxes:</p>
        <ul>
          <li><a href="http://blockworld.github.io/test">Test Sandbox</a></li>
          <li><a href="http://blockworld.github.io/tests.html">Test Pages</a></li>
        </ul>
        <p>For more info, <a href="/block">click here</a>, or <a href="/BlockWorld">here</a>.</p>
      </div>
      <!--Adds JQuery's source, and my scripts.-->
      <script src="app.js"></script>
    </body>
  </html>
<!--Closes HTML.-->
