.imgs {
  border-bottom: 1px solid #dbdbdb; /*Makes a border below the images*/
}
.header {
  border-bottom: 1px solid #ddd; /*Adds a bottom border to the header.*/
}
.dropdown-menu {
  min-width: 105px;
}
img {
  max-width:100%;
  max-height:100%;
}
a {
  text-decoration: none;
}
