---
title: Test
tags: [test]
---
<!--Initializes post YAML and initializes HTML.-->
<!DOCTYPE html>
  <html>
    <head>
      <!--Makes the page title the page title. Redundancy is redundant.-->
      <title>{{ pages.title }}</title>
    </head>
    <body>
      <p>This is a test post! :+1: My GitHub is @blockworld - be sure to check me out!</p>
    </body>
  </html>
