.sans1 {
  font-family: sans-serif;
  text-decoration: bold;
}
.orange {
  color: #ffa500;
}
.sans2 {
  font-family: sans-serif;
}
.gray {
  color: #d3d3d3;
}
#friends {
  height: 35vw;
  width: 35vw;
}
#googlePlus {
  height: 15px;
  width: 10px;
  background: url("https://www.patreon.com/images/share_g.png") no-repeat center;
  text-indent: 18px;
  position: relative;
  color: #fff;
  padding: 5px 9px 6px;
  font-size: 11px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  line-height: normal;
  border: 1px solid #CCC;
  border-bottom-color: #B8B8B8;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  text-align: left;
  font-family: sans-serif;
}
